/* Reset some default styles */
body, h1, h2, h3, p, div, ul, li, nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the body font and background color */
body {
  font-family: 'Arial', sans-serif;
  background-color: #1a202c; /* Main background color */
  color: #cbd5e0; /* Main text color */
  overflow-y: scroll;
}

/* Scrollbar styling */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #2d3748; /* Scrollbar track color */
}

body::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Scrollbar thumb color */
  border-radius: 6px;
  border: 3px solid #2d3748; /* Gives space around thumb */
}

nav {
  background-color: #2d3748; /* Navbar background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin: 0;
  position: relative;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

nav ul li {
  margin: 0 1rem;
}

ul {
  margin-block-start: 0;
}

nav ul li a {
  text-decoration: none;
  color: #cbd5e0; /* Navbar text color */
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #63b3ed; /* Navbar hover color */
}

nav ul li a:active {
  color: #3182ce; /* Navbar active color */
}

nav ul li a:focus {
  outline: none;
  border-bottom: 2px solid #63b3ed;
}

/* Container for the entire layout */
.container {
  display: flex;
  height: calc(100vh - 60px); /* Adjust height to account for navbar */
  width: 100%;
}

/* Sidebar styling */
.sidebar {
  width: 300px;
  background-color: #2d3748;
  padding: 20px;
  color: #cbd5e0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
  height: 100vh;
}

/* Search bar styling */
.sidebar .search {
  margin-bottom: 20px;
}

.sidebar .mantine-Autocomplete-input {
  background-color: #4a5568;
  color: #cbd5e0;
  border: none;
  padding: 10px;
}

.sidebar .mantine-Autocomplete-input::placeholder {
  color: #a0aec0;
}

/* Topic groups styling */
.sidebar .groups {
  padding: 15px;
  background-color: #4a5568;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar .groups:hover {
  background-color: #63b3ed; /* Sidebar group hover color */
}

/* Main content area styling */
.main {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  min-height: 100vh;
}

.blocks {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.block {
  flex: 1;
  background-color: #4a5568; /* Block background color */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300%;
}

.block h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #cbd5e0; /* Block text color */
}

.block h1 {
  font-size: 2.5rem;
  color: #63b3ed; /* Block number color */
}

/* Graphs container */
.main .graphs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* General styling for graphs */
.main .graphs .area-graph {
  background-color: #4a5568; /* Graph background color */
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2d3748;
}

::-webkit-scrollbar-thumb {
  background: #4a5568;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #63b3ed;
}

.map-button {
  background-color:#63b3ed;
  color: white !important;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  background-color: #4a5568; /* Footer background color */
  color: #cbd5e0; /* Footer text color */
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
}

.graph {
  border-radius: 5px;
  border: 1px solid black;
  padding: 1em;
  padding-bottom: 1em;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.dash-button {
  background-color:#63b3ed;
  color: white !important;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  width: 15em;
  top: 1em;
  left: 1em;
}

a {
  color: #63b3ed !important;
}